body {
  background-color: $color-dark;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

#pages {
  background-color: $color-dark;
  min-height: fit-content;

  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}
