.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}

#pages {
  background-color: $color-dark;
  min-height: fit-content;
  margin-top: -300px;

  > * {
    display: none;
  }

  > .active {
    display: block;
  }

  
}