// -------- Fonts
$font-family: 'Source Sans Pro', sans-serif;
// -------- Colors
$color-primary: #C24E00;
$color-accent: #2ECC71;
$color-warning: #E74C3C;
$color-path: #d54eda;
$color-dark: #131313;
$color-light: #fff;

// -------- Mixins
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin center(){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin box-shadow(){
  box-shadow: 5px 4px 14px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 4px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 4px 14px -4px rgba(0,0,0,0.75);
}