.finder__wrapper {
  // @include center();
  // top: 70%;
  // transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: auto;
  height: auto;
  margin-bottom: 2.5rem;
  cursor: pointer;

  &--disabled {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.125);
  }

  &__square {
    height: 35px;
    width: 35px;
    border: 1px solid white;

    &--active {
      background-color: $color-primary;
    }

    &--start {
      background-color: $color-accent;
    }

    &--finish {
      background-color: $color-warning;
    }

    &--path {
      background-color: $color-primary;
      filter: brightness(1.75);
    }
  }
}

#finder__btn {
  position: relative;
  background-color: $color-primary;
  color: $color-light;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-family: $font-family;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    filter: brightness(0.7);
    color: $color-light;
  }
}

#result__modal {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100vh;
  @include center;
  display: none;
  align-items: center;
  justify-content: center;
  
  &--content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $color-light;
    width: fit-content;
    height: 180px;
    padding: 10px 10px 75px 10px;
    
    button {
      all: unset;
      font-family: $font-family;
      margin-right: 6px;
      font-size: 24px;
      align-self: flex-end;
      transition: all 0.3s ease-in-out;
      padding: 6px;
      cursor: pointer;

      &:hover {
        background-color: $color-primary;
        border-radius: 5px;
      }
    }

    h3 {
      color: $color-dark;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 800;
      margin-right: 0;
      letter-spacing: 3px;
    }

    p {
      color: $color-dark;
      font-weight: 800;
      margin: 10px 100px;

      span {
        font-weight: 500;
      }
    }
  }


}